@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

header {
  background-image: url("https://www.pngkit.com/png/full/154-1545805_portfolio-icons-code-web-development-logo.png");
  background-size: 180px 180px;
  background-position: 5% 30%;
  background-repeat: no-repeat;
  background-color: rgb(57, 206, 211);
  color: rgb(12, 1, 1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
h1{
  font-family: 'Poppins', sans-serif;
    font-size: 55px;
}
h2{
  font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.heading{
  background-color: blanchedalmond;
  background-image: linear-gradient(to right, rgb(248, 226, 194), rgb(179, 157, 127));
}

.heading {
    font-size: 40px;
    font-family: Stencil Std, fantasy;
    color: #057550;
}

.sub-head {
    font-family: Jazz LET, fantasy;
    font-size: 30px;
    color: rgb(88, 88, 88);
}

.navigation {
  width: 40vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.nav-butn {
  font-size: 16px;
  padding: 5px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.nav-butn:hover {
  background-color: rgb(119, 24, 24);
  color: white;
}

p {
    font-size: 20px;
    color:rgb(24, 19, 88);
    font-family: OCR A Std, monospace;
}

.page {
    padding-left: 10%;
    padding-right: 5%;
}

footer{
    background-color: rgb(131, 8, 8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 5%;
}

.foot-btn {
    margin: 2px 8px;
    font-size: 16px;
  padding: 5px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;

}
.foot-btn:hover {
  background-color: rgb(16, 168, 179);
    color: white;
  }
  

.icon {
    height: 40px;
    padding: 0 6px;
}

.list {
    color:rgb(8 , 3, 80);
    font-size: 19px;
}
h4{
  font-size: 20px;
  color:rgb(8, 3, 80);
  font-family: OCR A Std, monospace;
}
