* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  width: 100%;
}

body::before {
  content: "";
  position: absolute;
  background: url(https://res.cloudinary.com/ankitkumar95993/image/upload/v1644157365/3dimage_r4rnnd.webp) no-repeat center center / cover;

  width: 100%;
  height: 100%;
  z-index: -1;
}

.page-wrapper {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 70vw;
  height: 40vh;

  background: linear-gradient(
    145.53deg,
    #ffffff 0%,
    rgba(239, 239, 239, 0.54) 101.37%
  );
  opacity: 0.9;

  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
}

.header h1 {
  font-size: 60px;
  font-weight: 800;
  text-shadow: 0px 8px 8px rgba(116, 114, 114, 0.5);
}

.header h2 {
  font-weight: 400;
  font-size: 40px;
  text-shadow: 0px 4px 4px rgba(92, 91, 91, 0.8);
}

.navigation {
  display: flex;
  width: 70%;
  justify-content: space-around;
  flex-direction: row;
}

#intro {
  background: #ccfad0;
  box-shadow: 0px 4px 28px rgba(197, 153, 153, 0.4);
  border-radius: 15px;
  color: black;
}

#front {
  background: #efbff5;
  box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.4);
  color: black;
  border-radius: 15px;
}

#back {
  background: #ebd39c;
  box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  color: black;
}

.nav-butn {
  padding: 1rem;
  border: none;
  font-size: 18px;
  color: white;
}
#intro:hover {
  color: white;
  background-color: rgb(46, 153, 240);
  cursor: pointer;
}

#front:hover {
  color: white;
  background-color: rgb(46, 153, 240);
  cursor: pointer;
}

#back:hover {
  color: white;
  background-color: rgb(46, 153, 240);
  cursor: pointer;
}

.page {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

#introduction {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  width: 50vw;
  border-radius: 10px;
  background-color: #ebffed;
  opacity: 0.8;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.55);
}

#introduction h3 {
  padding: 1rem;
  font-size: 40px;
  text-shadow: 0px 4px 4px rgba(92, 91, 91, 0.8);
}

#introduction h4 {
  padding-top: 1rem;
  font-size: 24px;
}

#introduction p {
  padding-top: 1rem;
  font-size: 18px;
}
p {
  font-size: 20px;
}
li {
  font-size: 20px;
}

ul {
  padding-left: 1rem;
}

#frontend {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  align-items: center;
  align-content: center;
  background-color: #b7f1f0;
  justify-content: center;
  padding: 2rem;
}
#fr {
  background: linear-gradient(
    180deg,
    #e8dcfc 0%,
    rgba(216, 201, 241, 0.49) 100%
  );
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  margin: 30px;
  width: 65vw;
  border-radius: 30px;
  padding: 2rem;
}

#html {
  background: linear-gradient(
    180deg,
    #f9dcdd 0%,
    rgba(234, 201, 202, 0.42) 100%
  );
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  width: 65vw;
  margin: 20px;
  padding: 2rem;
}

#css {
  background: linear-gradient(
    180deg,
    #fefadf 0%,
    rgba(237, 232, 198, 0.5) 100%
  );
  border-radius: 20px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin: 20px;
  width: 65vw;
  padding: 2rem;
}
#js {
  background: linear-gradient(
    180deg,
    #f0c3bf 0%,
    rgba(206, 170, 161, 0.51) 100%
  );
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  width: 65vw;
  border-radius: 30px;
  margin: 20px;
  padding: 2rem;
}

#frontend h3 {
  font-size: 40px;
  text-shadow: 0px 4px 4px rgba(92, 91, 91, 0.8);
}

h4 {
  padding-bottom: 1rem;
  font-size: 24px;
}

#backend {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  align-items: center;
  align-content: center;
  background-color: #f8bcee;
  justify-content: center;
  padding: 2rem;
}
#lan {
  background: linear-gradient(
    180deg,
    #e8dcfc 0%,
    rgba(216, 201, 241, 0.49) 100%
  );
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  margin: 30px;
  width: 65vw;
  border-radius: 30px;
  padding: 2rem;
}

#db {
  background: linear-gradient(
    180deg,
    #f9dcdd 0%,
    rgba(234, 201, 202, 0.42) 100%
  );
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  width: 65vw;
  margin: 20px;
  padding: 2rem;
}

#server {
  background: linear-gradient(
    180deg,
    #fefadf 0%,
    rgba(237, 232, 198, 0.5) 100%
  );
  border-radius: 20px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin: 20px;
  width: 65vw;
  padding: 2rem;
}
#api {
  background: linear-gradient(
    180deg,
    #ecfee5 0%,
    rgba(169, 206, 161, 0.51) 100%
  );
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  width: 65vw;
  border-radius: 30px;
  margin: 20px;
  padding: 2rem;
}

#backend h3 {
  font-size: 40px;
  text-shadow: 0px 4px 4px rgba(92, 91, 91, 0.8);
}
#skills {
  background: linear-gradient(
    180deg,
    #e6fcdc 0%,
    rgba(201, 241, 213, 0.49) 100%
  );
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  margin: 30px;
  width: 65vw;
  border-radius: 30px;
  padding: 2rem;
}
#ba {
  background: linear-gradient(
    180deg,
    #fbcbb5 0%,
    rgba(223, 201, 186, 0.49) 100%
  );
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  margin: 30px;
  width: 65vw;
  border-radius: 30px;
  padding: 2rem;
}

#fr:hover {
  background-color: white;
  cursor: pointer;
}
#html:hover {
  background-color: white;
  cursor: pointer;
}
#css:hover {
  background-color: white;
  cursor: pointer;
}
#js:hover {
  background-color: white;
  cursor: pointer;
}
#ba:hover {
  background-color: white;
  cursor: pointer;
}
#skills:hover {
  background-color: white;
  cursor: pointer;
}
#lan:hover {
  background-color: white;
  cursor: pointer;
}
#db:hover {
  background-color: white;
  cursor: pointer;
}
#server:hover {
  background-color: white;
  cursor: pointer;
}
#api:hover {
  background-color: white;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 20vh;
  background-color: rgb(248, 154, 185);
}

.foot-btn {
  padding: 1rem;
  border: none;
  font-size: 18px;
  margin: 1rem;
  color: white;
}

#download-btn {
  background: #ccfad0;
  box-shadow: 0px 4px 28px rgba(197, 153, 153, 0.4);
  border-radius: 15px;

  color: black;
}

#submit-btn {
  background: #efbff5;
  box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.4);
  color: black;
  border-radius: 15px;
}

#view-btn {
  background: #ebd39c;
  box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  color: black;
}

#download-btn:hover {
  color: white;
  background-color: rgb(102, 156, 226);
  cursor: pointer;
}

#submit-btn:hover {
  color: white;
  background-color: rgb(102, 156, 226);
  cursor: pointer;
}

#view-btn:hover {
  color: white;
  background-color: rgb(102, 156, 226);
  cursor: pointer;
}
.icon {
  height: 50px;
  margin: 1rem;
}

#insta-icon:hover {
  height: 60px;
}
#github-icon:hover {
  height: 60px;
}

  @media (max-width: 960px) {
    body::before {
      width: 100%;
      height: 150%;
    }
  }

  @media (max-width: 700px) {
    .header h1 {
      font-size: 35px;
    }
    .header h2 {
      font-size: 24px;
    }

    .nav-butn {
      margin: 0.5rem 0 0 0;
    }
    #introduction {
      width: 70vw;
    }

    body::before {
      width: 100%;
      height: 160%;
    }
  }

@media (max-width: 550px) {
  .header h1 {
    font-size: 25px;
  }
  .header h2 {
    font-size: 22px;
  }
  body::before {
    width: 100%;
    height: 170%;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-around;
  }
  footer {
    height: 30vh;
  }
  .foot-butn {
    margin: 0.5rem;
  }
}
