*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 30%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: 'Montserrat', 'Lato', sans-serif;
  font-weight: 900;
  line-height: 1.7;
  color: black;
  background-color: 010606;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body .page-wrapper {
  position: relative;
  height: auto;
}

body .page-wrapper header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.page-wrapper header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2.5rem;
  background-color: black;
}

.page-wrapper header h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: lighter;
  margin-left: 3rem;
}

.page-wrapper header h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 300;
  margin-left: 6em;
}

.page-wrapper header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.page-wrapper header .nav-butn {
  font-size: 1.8rem;
  margin-left: 3rem;
  display: inline-block;
  background-color: transparent;
  border: none;
  color: white;
  padding: 0.2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.page-wrapper header .nav-butn:after {
  display: block;
  content: '';
  border-bottom: solid 3px #01bf71;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.page-wrapper header .nav-butn:hover:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.page #introduction {
  color: white;
  height: 90vh;
  display: inline-block;
  text-align: center;
  background-color: 010606;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.767)),
      to(#01bf7054)
    ),
    url(https://images.pexels.com/photos/270348/pexels-photo-270348.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-image: linear-gradient(rgba(0, 0, 0, 0.767), #01bf7054),
    url(https://images.pexels.com/photos/270348/pexels-photo-270348.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: top;
  background-size: cover;
}

.page #introduction .heading {
  margin-top: 5rem;
  color: transparent;
  font-size: 3rem;
}

.page #introduction .sub-head {
  -webkit-animation: moveInRight 1s ease-in;
  animation: moveInRight 1s ease-in;
  margin: 15rem 0 0 0;
  color: inherit;
  font-size: 3rem;
}

.page #introduction p {
  display: inline-block;
  margin: 0 30rem;
  text-align: center;
  color: inherit;
  font-size: 1.8rem;
  font-weight: 300;
  -webkit-animation: moveInLeft 1s ease-in;
  animation: moveInLeft 1s ease-in;
}

.page #frontend {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  grid-auto-rows: minmax(10rem, auto);
  grid-auto-columns: minmax(5rem, auto);
}

.page #frontend .heading {
  -ms-grid-column: 1;
  grid-column: 1;

  grid-column-start: 1;
  grid-column-end: 4;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  margin-top: 5rem;
}

.page #frontend #fr {
  display: block;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-column-start: 1;
  grid-column-end: 4;
  height: 90vh;
  background: url(https://drive.google.com/uc?export=view&id=17UDW5z0yPYHDbE88mJgFUk1yUOBRFiSf)
    no-repeat;
  background-size: cover;
  background-position: top;
  background-size: auto;
}

.page #frontend #fr .sub-head {
  margin: 2.5rem 0;
  color: inherit;
  font-size: 2.5rem;
  text-align: center;
}

.page #frontend #fr p {
  display: inline-block;
  margin: 0 30rem;
  text-align: center;
  color: inherit;
  font-size: 1.8rem;
  font-weight: 300;
}

.page #frontend #html {
  margin-left: 7rem;
  padding: 3rem;
  border-radius: 1.2rem;
}

.page #frontend #html .sub-head {
  margin: 2.5rem 0;
  color: inherit;
  font-size: 2rem;
  text-align: center;
}

.page #frontend #html p {
  display: inline-block;
  font-size: 1.4rem;
  text-align: center;
  color: inherit;
  font-weight: 300;
}

.page #frontend #css {
  background-color: #01bf70;
  margin: 0 5rem;
  padding: 3rem;
  border-radius: 1.2rem;
  -webkit-box-shadow: 0 5px 5px rgba(102, 102, 102, 0.52);
  box-shadow: 0 5px 5px rgba(102, 102, 102, 0.52);
}

.page #frontend #css .sub-head {
  margin: 2rem 0;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.page #frontend #css p {
  display: inline-block;
  text-align: center;
  color: inherit;
  font-size: 1.4rem;
  font-weight: 300;
}

.page #frontend #js {
  margin-right: 7rem;
  padding: 3rem;
  border-radius: 1.2rem;
}

.page #frontend #js .sub-head {
  margin: 2rem 0;
  color: inherit;
  font-size: 2rem;
  text-align: center;
}

.page #frontend #js p {
  display: inline-block;
  font-size: 1.4rem;
  text-align: center;
  color: inherit;
  font-weight: 300;
}

.page #backend {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  grid-auto-rows: minmax(10rem, auto);
  grid-auto-columns: minmax(5rem, auto);
}

.page #backend .heading {
  -ms-grid-column: 1;
  grid-column: 1;

  grid-column-start: 1;
  grid-column-end: 4;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  margin-top: 5rem;
}

.page #backend #ba {
  display: block;
  -ms-grid-column: 1;
  grid-column: 1;

  grid-column-start: 1;
  grid-column-end: 4;
  height: 90vh;
  background: url(https://drive.google.com/uc?export=view&id=1yuExDv44roopfvYaC4bWTmuz8cPrVqVs)
    no-repeat;
  background-size: cover;
  background-position: top;
  background-size: auto;
  background-position-y: 150px;
}

.page #backend #ba .sub-head {
  margin: 2.5rem 0;
  color: inherit;
  font-size: 2.5rem;
  text-align: center;
}

.page #backend #ba p {
  display: inline-block;
  margin: 0 30rem;
  text-align: center;
  color: inherit;
  font-size: 1.8rem;
  font-weight: 300;
}

.page #backend #skills {
  margin-left: 7rem;
  padding: 3rem;
  border-radius: 1.2rem;
}

.page #backend #skills h4 {
  margin: 2rem 0;
  color: inherit;
  font-size: 2rem;
  text-align: center;
}

.page #backend #skills ul li {
  list-style: none;
  font-size: 1.4rem;
  padding-left: 4rem;
  color: inherit;
  font-weight: 300;
}

.page #backend #lan {
  background-color: #01bf70;
  margin: 0 5rem;
  padding: 3rem;
  border-radius: 1.2rem;
  -webkit-box-shadow: 0 5px 5px rgba(102, 102, 102, 0.52);
  box-shadow: 0 5px 5px rgba(102, 102, 102, 0.52);
}

.page #backend #lan .sub-head {
  margin: 2rem 0;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.page #backend #lan p {
  display: inline-block;
  text-align: center;
  color: inherit;
  font-size: 1.4rem;
  font-weight: 300;
}

.page #backend #db {
  margin-left: 7rem;
  padding: 3rem;
  border-radius: 1.2rem;
}

.page #backend #db h4 {
  margin: 2rem 0;
  color: inherit;
  font-size: 2rem;
  text-align: center;
}

.page #backend #db p {
  display: inline-block;
  text-align: center;
  color: inherit;
  font-size: 1.4rem;
  font-weight: 300;
}

.page #backend #server {
  -ms-grid-column: 1;
  grid-column: 1;

  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}

.page #backend #server .sub-head {
  margin: 2.5rem 0;
  color: inherit;
  font-size: 2.5rem;
  text-align: center;
}

.page #backend #server p {
  display: inline-block;
  margin: 0 30rem;
  text-align: center;
  color: inherit;
  font-size: 1.6rem;
  font-weight: 300;
}

.page #backend #api {
  -ms-grid-column: 1;
  grid-column: 1;

  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}

.page #backend #api .sub-head {
  margin: 2.5rem 0;
  color: inherit;
  font-size: 2.5rem;
  text-align: center;
}

.page #backend #api p {
  display: inline-block;
  margin: 0 30rem;
  text-align: center;
  color: inherit;
  font-size: 1.6rem;
  font-weight: 300;
}

footer {
  height: 10vh;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(183, 183, 183, 0.468);
}

footer .foot1 .foot-btn {
  margin-left: 1.5rem;
  background: transparent;
  border: none;
  color: inherit;
}

footer .foot2 .social .social-button .icon {
  height: 3.5rem;
  margin-left: 1.5rem;
  color: white;
}

@media (max-width: 37.5em) {
  body {
    overflow-x: hidden;
  }
  .page-wrapper header {
    display: block;
    width: auto;
    position: none;
    width: auto;
  }
  .page-wrapper header h1 {
    color: white;
    font-size: 4rem;
    font-weight: lighter;
    text-align: center;
    margin: 0;
  }
  .page-wrapper header h2 {
    color: white;
    font-size: 4rem;
    font-weight: 300;
    margin: 1rem;
    text-align: center;
  }
  .page-wrapper header .nav-butn {
    font-size: 3rem;
    margin-left: 3rem;
    display: inline-block;
    background-color: transparent;
    border: none;
    color: white;
    padding: 0.2rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .page-wrapper header .nav-butn:after {
    display: block;
    content: '';
    border-bottom: solid 3px #01bf71;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  }
  .page-wrapper header .nav-butn:hover:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  .page {
    display: block;
  }
  .page #introduction .sub-head {
    font-size: 7rem;
    text-align: center;
    margin: 30rem 0 0 0;
  }
  .page #introduction p {
    font-size: 3rem;
    text-align: center;
    margin: 0 5rem;
  }
  .page #frontend {
    display: block;
  }
  .page #frontend .heading {
    color: black;
    display: block;
    font-size: 6rem;
    font-weight: lighter;
    text-align: center;
    margin-top: 3rem;
  }
  .page #frontend #html .sub-head {
    font-size: 5rem;
    text-align: center;
    margin: 0 2rem;
  }
  .page #frontend #html p {
    font-size: 3rem;
    margin: 0 2rem;
    margin-bottom: 4rem;
  }
  .page #frontend #css {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .page #frontend #css .sub-head {
    color: black;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    margin: 0 2rem;
  }
  .page #frontend #css p {
    font-size: 3rem;
    margin: 0 2rem;
    margin-bottom: 4rem;
  }
  .page #frontend #js .sub-head {
    font-size: 5rem;
    text-align: center;
    margin: 0 2rem;
  }
  .page #frontend #js p {
    font-size: 3rem;
    margin: 0 2rem;
  }
  .page #frontend #fr {
    height: 60vh;
    background-position: top;
    background-size: cover;
    background: url(https://drive.google.com/uc?export=view&id=1bBoz1AUV9vsgY8_Ovzhyv0FbLDvCS5RS)
      no-repeat;
  }
  .page #frontend #fr .sub-head {
    font-size: 5rem;
    text-align: center;
    margin: 0 2rem;
  }
  .page #frontend #fr p {
    font-size: 4rem;
    margin: 0 2rem;
    margin-bottom: 2rem;
  }
  .page #backend {
    display: block;
  }
  .page #backend .heading {
    color: black;
    display: block;
    font-size: 6rem;
    font-weight: lighter;
    text-align: center;
    margin-top: 3rem;
  }
  .page #backend #ba {
    height: 60vh;
    background-position: center;
    background-size: cover;
    background: url(https://drive.google.com/uc?export=view&id=1WBUlTd6hCTC8J8jlqwFw-rhunEA8DQ1v)
      no-repeat;
  }
  .page #backend #ba .sub-head {
    font-size: 5rem;
    text-align: center;
    margin: 0 2rem;
  }
  .page #backend #ba p {
    font-size: 3rem;
    margin: 0 2rem;
    margin-bottom: 4rem;
  }
  .page #backend #skills h4 {
    font-size: 6rem;
    padding: auto;
    margin: 2rem;
    line-height: 7rem;
  }
  .page #backend #skills #content {
    font-size: 6rem;
  }
  .page #backend #skills #content ul li {
    font-size: 3rem;
    text-align: center;
  }
  .page #backend #lan {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: auto;
    border-radius: none;
  }
  .page #backend #lan .sub-head {
    color: black;
    font-weight: bold;
    font-size: 6rem;
    padding: auto;
    margin: 2rem;
    line-height: 7rem;
  }
  .page #backend #lan p {
    display: block;
    text-align: center;
    background-color: none;
    font-size: 3rem;
    margin: 3rem;
  }
  .page #backend #db .sub-head {
    font-size: 6rem;
    padding: auto;
    margin: 2rem;
  }
  .page #backend #db p {
    display: block;
    text-align: center;
    background-color: none;
    font-size: 3rem;
    margin: 3rem;
  }
  .page #backend #server .sub-head {
    font-size: 6rem;
    padding: auto;
    margin: 2rem;
  }
  .page #backend #server p {
    display: block;
    text-align: center;
    background-color: none;
    font-size: 3rem;
    margin: 3rem;
  }
  .page #backend #api .sub-head {
    font-size: 6rem;
    padding: auto;
    margin: 2rem;
  }
  .page #backend #api p {
    display: block;
    text-align: center;
    background-color: none;
    font-size: 3rem;
    margin: 3rem;
    margin-bottom: 9rem;
  }
}

@media (min-width: 300px) and (max-width: 500px) {
  .page #frontend #fr {
    background-position: center;
    background: url(https://drive.google.com/uc?export=view&id=1XraPUuula66UD3ZzyAa4thyHeA48L5bD)
      no-repeat;
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
    transform: translateX(-10rem);
  }
  80% {
    opacity: 0.6;
    -webkit-transform: translateX(2rem);
    transform: translateX(2rem);
  }
  100% {
    opacity: 0.6;
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
    transform: translateX(-10rem);
  }
  80% {
    opacity: 0.6;
    -webkit-transform: translateX(2rem);
    transform: translateX(2rem);
  }
  100% {
    opacity: 0.6;
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20rem);
    transform: translateX(20rem);
  }
  80% {
    opacity: 0.6;
    -webkit-transform: translateX(-2rem);
    transform: translateX(-2rem);
  }
  100% {
    opacity: 0.6;
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20rem);
    transform: translateX(20rem);
  }
  80% {
    opacity: 0.6;
    -webkit-transform: translateX(-2rem);
    transform: translateX(-2rem);
  }
  100% {
    opacity: 0.6;
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
  }
}
/*# sourceMappingURL=styles.css.map */
