*{ margin: 0;
    padding: 0;
    font-family: sans-serif;
 }
.page-wrapper{
     width: 100%;
     height: 40vh;
     background-image: url(https://c0.wallpaperflare.com/preview/1004/350/396/abstract-php-c-analytics.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position-x: center;
     background-position: center;   
}
body {
    color: hsl(0, 5%, 96%);
    background-image: url(https://c4.wallpaperflare.com/wallpaper/967/571/610/digital-art-circuits-abstract-wallpaper-preview.jpg);
}

.header{
    line-height: 90px;
    color: antiquewhite;
    font-size: x-large;
    animation: text 3s 1;
}
@keyframes text {
    0%{
        color: yellow;
        margin-bottom: -40px;
      }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
       }
       85%{
           letter-spacing: 8px;
           margin-bottom: -40px;
       }
}

.nav-butn{
    line-height: 20px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    background-color: white;
    color: black;
    border-radius: 8px;
}
.nav-butn:hover{
    animation: heartbeat 1.7s;
}
@keyframes heartbeat{
    from{
        transform: scale(1);
    }
    14%{
        transform: scale(1.3);
    }
    28%{
        transform: scale(1);
    }
    42%{
        transform: scale(1.3);
    }
    70%{
        transform: scale(1);
    }
}
.heading{
    line-height: 60px;
    background-color: rgba(6, 109, 12, 0.945);
    color:aliceblue;
    text-transform: uppercase;
    font-size: larger;
    cursor: pointer;
    letter-spacing: 6px;
}

.heading:hover{
    animation: heartbeat 1.7s;
}
@keyframes heartbeat{
    from{
        transform: scale(1);
    }
    14%{
        transform: scale(1.3);
    }
    28%{
        transform: scale(1);
    }
    42%{
        transform: scale(1.3);
    }
    70%{
        transform: scale(1);
    }
}
.p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    font-size: x-large;
}
.sub-head{
    line-height: 60px;
    font-size: larger;
    color:yellow;
}
.foot-btn{
    line-height:20px;    
}
.foot-btn {
  background-color: #038d0f;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-style: none;
  cursor: pointer;
  display: inline-block;
  border-radius:12px ;
  transition-duration: 1s;
}
.download-btn{
    background-color: antiquewhite;
    color: black;
}
.view-btn{
    background-color: rgb(6, 212, 226);
}
.foot-btn:hover{
    animation: heartbeat 1.5s;
}
@keyframes heartbeat{
    from{
        transform: scale(1);
    }
    14%{
        transform: scale(1.3);
    }
    28%{
        transform: scale(1);
    }
    42%{
        transform: scale(1.3);
    }
    70%{
        transform: scale(1);
    }
}
