@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Open+Sans:wght@300;400;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat','Open Sans', sans-serif;
  
}

header{
  background-image: url('https://drive.google.com/uc?export=view&id=1dszu4QJ7G7XxdB0pDzdEuzVtZdZp2i13');
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  background-size: cover;
  height: 45vh;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 5vh;
}
h1{
  padding-top: 3vh;
  margin-bottom: 5px;
}

h2{
  text-transform: capitalize;
}

nav{
  position: relative;
  top:16%
}

p{
  font-weight: 500;
}

.sub-head{
  font-weight: 800;
}

.nav-butn ,.foot-btn{
  font-family: 'montserrat',sans-serif;
  font-weight: bold;
  width: 22vw;
  font-size: 1.75vw;
  cursor: pointer;
  padding: 0.5vh 1vw 0.5vh 1vw;
  border-radius: 100000px;
  margin: 10px;
  background-image: linear-gradient(to top ,rgb(86, 255, 255),white);
}

@media only screen and (max-width: 800px) {
  .sub-head{
    font-size: 19px;
  }

  .heading{
    font-size: 10px;
  }
  .nav-butn ,.foot-btn{
    width: 70%;
    font-size: 3.5vw;
    padding-top: 5px 2px;
  }
  .foot-btn{
    width: 96%;
  }
  header{
    background-position: right;
  }
  
  #view-btn{
    margin-bottom: 7vw;
  }
}
.sub-head{
  margin-bottom: 10px;
}
.heading{
  text-align: center;
  font-size: 40px;
  padding-bottom: 15px;
  text-transform: uppercase;
}

@keyframes slidein {
  from {
    margin-top: 100%;
    
  }

  to {
    margin-left: 2vw;
    margin-right: 2vw;
  }
}

@media (min-width: 800px) {
  h1{
    font-size: 40px;
  }
  h4{
    font-size: 26px;
  }
  p{
    font-size: 20px;
  }
  .foot1{
    left: 15%;
  }
}

.section{
  background-color: aliceblue;
  border-style:inset;
  border-radius: 20px;
  padding : 5vh 4.5vw;
  margin : 5vw 2.2vw;
  box-shadow: 10px 8px 4px 2px rgba(23, 243, 243, 0.39);
  animation: slidein 1s ;
}

.foot1{
  position: relative;
  width:fit-content;
  display: inline;
}

li{
  list-style:upper-roman;
  margin: 5px;
}

.icon{
  height: 4vw;
  fill:white;
  margin:10px;
  transform: translateX(1100%);
}

button:after {
  content: ' \00bb';
  opacity: 0;
  font-size: 3vw;
  transition: 0.5s;
}

button:hover  {
  padding-right: 20px;
}

button:hover:after {
  opacity: 1;
  right: 0;
}

.card{
  padding: 2vw;
}

.foot2{
  background-color: rgb(64, 64, 226);
  width: 100%;
}

#view-btn{
  margin-bottom: 4vw;
}