/* style.css: Rishabh Dev */
/* CSE S2 G3 - Roll - 2101168 */

@import url("https://fonts.googleapis.com/css?family=Russo+One");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans';
}


/* Header -- START */

.header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    height: 100px;
    align-content: center;
    font-weight: 700;
}

.header h1 {
    font-size: 24px;
    text-transform: uppercase;
}

.header h2{
    order: 2;
    flex: 100%;
    font-size: 13px;
    letter-spacing: 2px;
}

nav{
    display: block;
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap-reverse;
}

nav button{
    float: right;
    background: none;
    border: none;
    font-size: 16px;
    margin: 0 12px;
    min-width: 80px;
}

nav button:hover{
    font-weight: 700;
}

/* Header -- END */


/* Banner -- START */
#introduction{
    background-image: url("https://www.wallpapertip.com/wmimgs/83-838362_web-developer.jpg");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: rgb(236, 234, 234);
    padding: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#introduction .heading{
    font-size: 4vw;
}

#introduction .sub-head{
    font-size: 1.76vw;
    font-weight: 400;
    margin: -4px 0 24px 0;
}

#introduction p{
    font-size: 0.9vw;
    font-family: 'Source Code Pro';
}

/* Banner -- END */

/* Card -- START */
.card{
    flex:1;
    display: flex;
    flex-wrap: wrap;
    min-width: 250px;
    padding: 30px;
    margin: 10px 12px;
}

.card .sub-head, .card h4{
    
    flex: 100%;
    font-size: larger;
    line-height: auto;
    text-align: left;
    margin-bottom:16px;
}

.card p{
    line-height: 28px;
}
/* Card -- END */


/* Segment -- START */
.segment{
    flex: 1;
    min-width: 250px;
    padding: 20px;
    margin: 10px 12px;
}

.segment h4{
    margin: 12px 0;
}

.segment p{
    line-height: 28px;
}
/* Segment -- END */


/* Frontend -- START */

.page #frontend{
    padding: 120px 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url("https://wallpapertag.com/wallpaper/full/1/e/b/115323-most-popular-background-white-2400x1800.jpg");
}
.page #frontend .heading{
    text-align: center;
    font-size: 40px;
}

.page #frontend .card{
    min-height: 360px;
    align-content: center !important;
}
.page #frontend .card:last-of-type{
    margin: 0 12px;
}
.page #frontend .card:nth-child(even){
    margin-right: 30%;
}
.page #frontend .card:nth-child(odd){
    margin-left: 30%;
}
/* Frontend -- END */

/* Backend -- START */

.page #backend{
    padding: 120px 80px;
    display: flex;
    flex-wrap: wrap;
}

.page #backend .heading{
    text-align: center;
    font-size: 40px;
    flex: 100%;
}

.page #backend .card{
    min-height: 200px;
    align-content: center !important;
    flex: 100%;
}

.page #backend .card ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.page #backend .card ul li{
    border-radius: 16px;
    padding: 20px;
    margin: 10px 8px;
    background: #f2f3f3;
    transition: 0.5s;
}

.page #backend .card ul li:hover{
    transform: translate(-0.2rem, -0.2rem);
    background:#dbdce0;
}

.page #backend .segment{
    flex: 1;
    border: 1px solid #dbdce0;
    border-radius: 16px;
    box-shadow: 8px 6px #f2f3f3;
    transition: 0.5s;
}

.page #backend .segment:hover{
    transform: translate(0.2rem, 0.2rem);
    box-shadow: 5.8px 2.8px #f2f3f3;
}

/* Backend -- END */


/* Footer -- START */

.footer{
    min-height: 150px;
    background: #f2f3f3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}

.footer .foot1, .footer .foot2{
    display: flex;
    flex-wrap: wrap;
}

.footer .foot1 button{
    background: none;
    border: none;
    font-size: 16px;
    margin: 10px 12px;
    min-width: 80px;
}

.footer .foot1 button:hover{
    font-weight: 700;
    font-size: 15.3px;
}

.footer .foot2 a{
    text-decoration: none;
}
.footer .foot2 svg{
    height: 30px;
    width: 30px;
    margin: 10px 12px;
}

/* Footer -- END */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    /* Banner -- START */

    #introduction{
        padding: 80px !important;
    }
    #introduction .heading{
        font-size: 40px !important;
    }

    #introduction p{
        font-size: 12px !important;
    }

    .card{
        flex: 100% !important;
    }

    /* Banner -- END  */

    .footer .foot1{
        margin-bottom: 14px;
    }

    .footer .foot1 button{
        flex: 100%;
    }

    .footer .foot1 button:hover{
        font-weight: 700;
        font-size: 16px;
    }
}

/* Small devices (tablets, 768px and down) */
@media only screen and (max-width: 768px) {

    /* Header -- START */

    .header{
        justify-content: center;
        text-align: center;
    }
    
    nav{
        display: none;
    }
    .page #backend .card ul li{
        flex:100%;
    }
    /* Header -- END */

  /* Banner -- START */

    #introduction .heading{
        font-size: 56px;
    }

    #introduction .sub-head{
        font-size: 20px;
    }

    #introduction .sub-head{
        display: none;
    }

    #introduction p{
        margin-top: 14px;
        font-size: 12px !important;
    }

    /* Banner -- END  */

    .page #frontend .card{
    margin-left: 0 !important;
    margin-right: 0 !important;
    }

    .footer .foot2, .footer .foot1{
        flex: 100%;
        justify-content: center;
    }
}

/* Medium devices (laptops, 1024px and down) */
@media only screen and (max-width: 1024px) {
    /* Banner -- START */
    #introduction .heading{
        font-size: 48px;
    }

    #introduction p{
        font-size: 1vw;
    }

    .card{
        flex: 33%;
    }

    /* Banner -- END  */
}